body {
  font-family: "Inter", sans-serif;
}

.header {
  background-color: #5e17eb;
  color: white;
  text-align: center;
}

.header p {
  padding: 10px;
  font-weight: bold;
  font-size: clamp(5px, 3vw, 15px);
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.brand h1 {
  font-size: 50px;
  color: #5e17eb;
  font-size: clamp(40px, 5vw, 70px);
}

.banner {
  display: flex;
  flex-wrap: wrap;
  background-color: #5e17eb;
}

.bannerBody {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 30px;
}

.bannerBody h2 {
  font-size: clamp(25px, 5vw, 90px);
  font-weight: bold;
}

.bannerBody p {
  font-size: clamp(10px, 5vw, 30px);
}

.adoptBtn {
  background-color: white;
  padding: 15px 30px;
  border: none;
  font-weight: bold;
  transition: all 200ms ease-in-out;
}

.adoptBtn:hover {
  background-color: #e3e1e9;
  color: white;
}

.favoriteBreedsCategory {
  text-align: center;
  margin-top: 50px;
}

.favoriteBreedsCategory h2 {
  font-size: clamp(30px, 5vw, 60px);
  font-weight: 500;
  margin-bottom: 0;
}

.favoriteBreedsCategory p {
  font-size: clamp(10px, 5vw, 25px);
}

.favoriteBreeds {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
}

.breedDiv {
  margin: 0 20px;
}

.breedDiv h4 {
  color: #5e17eb;
  font-weight: bold;
  margin-top: 20px;
}

.favoriteBreeds img {
  width: 300px;
  border-radius: 8px;
}

.weeklySpotlight {
  margin-top: 120px;
  text-align: center;
}
.weeklySpotlight h2 {
  font-size: clamp(10px, 5vw, 60px);
}

.spotlight {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.spotlightIntro {
  background-color: #5e17eb;
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
  padding: 30px;
  
}

.spotlightIntro h2 {
  font-size: clamp(30px, 5vw, 90px);
  margin-top: 30px;
}

.spotlightIntro p {
  font-size: clamp(20px, 5vw, 10px);
  width: 70%;
  margin: 0 auto;
}
