body {
  font-family: "Inter", sans-serif;
}

.header {
  background-color: #5e17eb;
  color: white;
  text-align: center;
}

.header p {
  padding: 10px;
  font-weight: bold;
  font-size: clamp(5px, 3vw, 15px);
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;

}

.brand h1 {
  font-size: 50px;
  color: #5e17eb;
  font-size: clamp(40px, 5vw, 70px);
}

.banner {
  display: flex;
  flex-wrap: wrap;
  background-color: #5e17eb;
}

.bannerBody {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.bannerBody h2 {
  font-size: clamp(40px, 5vw, 90px);
}

.adoptBtn {
  background-color: white;
  padding: 10px 30px;
  border: none;
  font-weight: bold;
  transition: all 200ms ease-in-out;
}

.adoptBtn:hover {  
  background-color: #e3e1e9;
  color: white;
}

.container-fluid {
  margin: 0;
  padding: 0 !important;
}






