body {
  font-family: "Inter", sans-serif;
}

.header {
  background-color: #5e17eb;
  color: white;
  text-align: center;
}

.header p {
  padding: 10px;
  font-weight: bold;
  font-size: clamp(5px, 3vw, 15px);
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.brand a {
  font-size: 50px;
  color: #5e17eb;
  font-size: clamp(40px, 5vw, 70px);
  text-decoration: none;
  font-weight: bold;
}

.search {
  text-align: center;
  position: relative;
}

form {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

input[type="search"] {
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid #5e17eb;
}

input[type="submit"] {
  color: white;
  background-color: #5e17eb;
  padding: 10px 20px;
  border-radius: 0 8px 8px 0;
  border: 2px solid #5e17eb;
  position: relative;
  left: -10px;
}

input[type="submit"]:hover {
  background-color: #8a5aea;
}

input[type="search"]::placeholder {
  color: #5e17eb;
}

input[type="search"]:focus {
  outline: none;
}

.all {
  /* margin-top: 200px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.imgDiv {
  margin: 30px;
  background-color: #5e17eb;
  text-align: center;
  color: white;
  padding-bottom: 20px;
  width: 400px;
  border-radius: 8px;
}

.imgDiv img {
  border-radius: 8px 8px 0 0;
}

.imgDiv h5 {
  font-size: clamp(20px, 5vw, 25px);
  margin: 5px auto 20px;
}

.imgDiv p {
  margin: 0;
}

.adoptBtn {
  margin-top: 30px;
  background-color: white;
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  transition: all 200ms ease-in-out;
}

.adoptBtn:hover {
  background-color: #e3e1e9;
  color: white;
}

#suggestions {
  position: absolute;
  top: 100%; 
  left: 0;
  width: 70%;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 100;
  display: none;
  max-height: 150px;
  overflow-y: auto;
  list-style-type: none;
  padding-left: 0;
}

#suggestions li {
  padding: 5px;
  cursor: pointer;
  text-align: left; 
  color: #5e17eb; 
}

#suggestions li:hover {
  background-color: #5e17eb;
  color: white;
}
